@import './variables';

@mixin flexCenter($justify_content, $flex_direction) {
    display: flex;
    justify-content: $justify_content;
    align-items: center;
    flex-direction: $flex_direction;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include flexCenter(center, row);
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
}


.one {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $primaryColor;

    a {
        color: wheat;
        text-decoration: none;
    }

    &:hover {
        /* This & references to .one */
        background: $thirdColor;
    }
}

.two {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $secondaryColor;
}

.three {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $thirdColor;
}